- content_for :title do
  Services &ndash; Isotope|eleven

= interior_header 'Services'

.interior
  .fixed_content
    %p
      At Isotope|eleven, we don't just produce basic websites; we offer complete turn-key and custom solutions to any issue that your business may have. We provide custom programming with a primary focus on Ruby development. We have extensive experience developing financial applications, Facebook applications, websites focusing on photo storage and sales, social networking sites, ecommerce websites and technology for startups. Follow the links below to learn more about what we can offer you and your company.
    = render :partial => 'services/banners'
