- content_for :title do
  Services &ndash; isotope|eleven

= interior_header 'Services'

.interior.services-page
  .fixed_content
    %h3
      At isotope|eleven, we don't just produce basic websites.  We build web applications.
    %blockquote.aside
      Complete turn-key and custom solutions to any issue that your business may have.
    %p
      We provide custom programming with a primary focus on Ruby development. We have extensive experience developing financial applications, e-commerce sites, Facebook applications, websites focusing on photo storage and sales, social networking sites, and technology for startups. Follow the links below to learn more about what we can offer you and your company.
    = render :partial => 'services/banners'
