- content_for :title do
  Services &ndash; Isotope|eleven
 
.fixed_content
  %h2.interior Services

.interior
  .fixed_content
    %p
      At Isotope|eleven, we don't just produce normal websites, we offer complete turn-key and custom solutions to any issue that your business may have. We provide custom programming with primary focus on Rails development. We have extensive experience developing Facebook applications, websites focusing on photo storage and sales, social networking sites, ecommerce websites and technology for startups. Follow the links below to learn more about what we offer you and your company.
    %h3
      Follow the links to learn more
    %hr
    = render :partial => 'services/banners'
