- content_for :title do
  Mobile &ndash; Services &ndash; Isotope|eleven

= interior_header 'Services'

.interior
  .fixed_content
    = render_sibling_nav_for(:services)
    %h3 Mobile
    .work_content_right
      = image_tag 'mobile.png', :alt => 'Mobile Image'
      %ul
        %li Our apps have sent and received millions of SMS messages.
        %li iPhone app development.
        %li Android app development.
        %li Mobile cloud computing.
        %li Geolocation technology.

    .work_content_left
      %p
        Good mobile applications are much more than a basic iPhone app. They need integration with the cloud so that users may share their location, and interact in real time with other users of the platform. Writing web services that will be compatible across all clients including iPhone, Android, Blackberry, and HTML5 based mobile clients is important, so that your users are not locked into a single platform as the mobile landscape evolves.
      %p
        = link_to 'Back to Services', '/services'
