- content_for :title do 
  About &ndash; isotope|eleven

= interior_header "Alumni"

.interior
  .fixed_content
    %p
      isotope|eleven surely would never have gotten to our current state without the hard work and dedication of current and former employees. It just feels wrong to pull great people off our site's about page without giving due credit. They've played a large part in our successes so here they stay. Thanks for everything. 
    %h2
      Meet Our Alums
    - @alumni.each do |alumni|
      = render :partial => 'bio', :locals => {:user => alumni}
