- content_for :title do 
  About &ndash; Isotope|eleven

.fixed_content
  #byline-title
    .byline-title-side
      .line.first
      .line.second
    .byline
      %h2.interior About Us
    .byline-title-side
      .line.first
      .line.second

.interior
  .fixed_content
    %p
      isotope|eleven is a software development firm which specializes in developing web-based software applications.
    %p
      When consulting, we tell the truth about a problem, rather than help you fix a symptom – this can be disruptive, but it is far more helpful.

    %p
      We deliver software incrementally, rather than making you wait for long periods and major deployments. How do you eat an elephant - one bite at a time. It has been our experience that you’ll never get everything right in the first iteration anyway so get stuff out there in production and use data to drive improvements and changes.

    %p
      Instead of testing at the end of the development process, we integrate testing thoroughly into the software development lifecycle. Integrated testing speeds up the overall delivery of software significantly. Repositioning testing during software development not only builds in quality but also creates value by striving to prevent defects before they occur, enabling developers to get feedback in minutes and regression test results in hours.

    %p
      Our clients range from small businesses to large financial firms, insurance companies as well as government agencies.  We strive to build long term relationships and to deliver software on time and on target.

    %h2
      Meet The Team

    - @users.each do |user|
      = render :partial => 'bio', :locals => {:user => user}

    %p= link_to "Isotope Eleven Alumni", about_alumni_path
    .clearfix
