= javascript_include_tag 'typeface', 'greyscalebasic_regular.typeface', 'verdana_regular.typeface', 'jquery.min'
= yield :javascripts
%script{:type => "text/javascript", :charset => "utf-8"} 
  / initialize typeface to stop ie7 flicker
  _typeface_js.initialize();
