.work_services_wrap
  = link_to title, url, :class => 'services_link'
  .work_services_img
    = link_to(image_tag(image), url)
  .work_services_text
    %h4= link_to title, url
    = link_to description, url
