%div{ class: "slide #{slide_class}" }
  %a.cover{ href: url }
  .slide-content
    %h3= link_to(header, url)
    .text
      %p= link_to(content, url)
    .call-to-action
      = link_to("Click here for more details", url)
    .clearfix
