#what-we-do
  .fixed_content
    .services-slider
      .slide
        .slide-content
          %h3 E-Commerce
          %p This is some ecommerce stuff guy.
          = image_tag 'ecom_bag.png'
      .slide
        .slide-content
          %h3 Phase Zero
          %p We totally do phase zeroes.
#how-we-do-it
  .texture
    .fixed_content
      .section.section0
        %h5 0
        %h3 Phase Zero
        %h4 strategy / layout ish
        %p
          Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
          durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
          Durpa Hurp da durpa durpa derrrr.
        = image_tag 'step_zero_arrow.png', :class => 'arrow'
      .section.section1
        %h5 1
        %h3 Wireframe
        %h4 mockup / user stories
        %p
          Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
          durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
          Durpa Hurp da durpa durpa derrrr.
      .section.section2
        %h5 2
        %h3 Implement
        %h4 minimum viable product
        %p
          Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
          durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
          Durpa Hurp da durpa durpa derrrr.
      .section.section3
        %h5 3
        %h3 Iterate
        %h4 hand-in-hand with customer
        %p
          Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
          durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
          Durpa Hurp da durpa durpa derrrr.
      .section.section4
        %h5 4
        %h3 Ship It
        %h4 deploy &amp; manage
        %p
          Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
          durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
          Durpa Hurp da durpa durpa derrrr.
      .section.section5
        %h5 5
        %h3 Tweak
        %h4 add features
        %p
          Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
          durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
          Durpa Hurp da durpa durpa derrrr.
%footer
  //%iframe{ :width => "400px", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :height => "320px", :src => "http://maps.google.com/maps?q=529+Beacon+Parkway+West,+Birmingham,+AL&hl=en&ll=33.475357,-86.822355&spn=0.011849,0.019162&sll=37.0625,-95.677068&sspn=45.822921,78.486328&oq=529+Beacon+Parkwa&hnear=529+Beacon+Pkwy+W,+Birmingham,+Alabama+35209&t=h&z=16&iwloc=A"}  
  .fixed_content
    %a.btn.primary{ href: posts_path }
      %span View Blog
    .location
      %strong Isotope11
      %br
      529 Beacon Parkway W
      %br
      Suite 105
      %br
      Birmingham, AL 35209

- content_for :javascripts do
  :javascript
    $(window).load(function() {
      $('.services-slider').orbit({
        animation: 'horizontal-slide',                  // fade, horizontal-slide, vertical-slide, horizontal-push
        animationSpeed: 800,                // how fast animtions are
        timer: true, 			 // true or false to have the timer
        advanceSpeed: 4000, 		 // if timer is enabled, time between transitions 
        pauseOnHover: false, 		 // if you hover pauses the slider
        startClockOnMouseOut: false, 	 // if clock should start on MouseOut
        startClockOnMouseOutAfter: 1000, 	 // how long after MouseOut should the timer start again
        directionalNav: true, 		 // manual advancing directional navs
        captions: true, 			 // do you want captions?
        captionAnimation: 'fade', 		 // fade, slideOpen, none
        captionAnimationSpeed: 800, 	 // if so how quickly should they animate in
        bullets: true,			 // true or false to activate the bullet navigation
        bulletThumbs: false,		 // thumbnails for the bullets
        bulletThumbLocation: '',		 // location from this file where thumbs will be
        afterSlideChange: function(){} 	 // empty function 
      });
    });
