- content_for :title do
  Services &ndash; isotope|eleven

.fixed_content
  %h2.interior Client Resources

.interior
  .fixed_content
    %h4 Important Document Download
    %ul.doc_list
      %li
        = link_to 'Non-Solicitation', '../docs/Non_Solicitation.pdf'
      %li
        = link_to 'Software Development Agreement', '../docs/Software_Development_Agreement.pdf'
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
