%ul
  %li= link_to "Mockup One",  image_path('mockups/isotope_2012.png')
  %li= link_to "Mockup Two",  image_path('mockups/isotope_2012_2.jpg')
  %li= link_to "Mockup Four", image_path('mockups/isotope_2012_4.png')
