.mockup4
  .topbar

  %header{ role: "banner" }
    #who-we-are
      %h1
        %span= link_to 'isotope|eleven', root_path

  .content.clearfix
    %div{ role: "main" }
      #what-we-do
        %h2.lighter.continued
          lorem ipsum dor de ipsum
        %h2.light.continued
          miserocordian de duo tuo
        %h2.medium.final
          lorem ipsum.

        = image_tag 'mockups/mockup4/portfolio_mock.jpg'

      #how-we-do-it
        %ol.how-we-do-it
          %li
            %h4 Le Lorem Ipsum
            %p
              Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
              durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
              Durpa Hurp da durpa durpa derrrr.  De durpa herp de derp derp
              durr.



  %footer{ role: "contentinfo", class: "clearfix" }
    &copy; 2012 Isotope Eleven, Inc.

  .bottombar
