.contact_form
  .fieldset
    %label Name
    .input_wrap
      %input{:type => 'text', :name => 'contact[nickname]'}
  .fieldset
    %label Email
    .input_wrap
      %input{:type => 'text', :name => 'contact[email]'}
  .fieldset_bottom
    %label Note
    .input_wrap
      %textarea{:name => 'contact[text]'}
  %button{:type => "submit", :class => 'submit'}
    Submit
