= interior_header 'Contact Us'

.interior
  .fixed_content
    %p Thank you for contacting us. We will contact you back shortly.
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br

- content_for :javascripts do
  :javascript
    _gaq.push(['_trackEvent', 'contact', 'submitted']);
