/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

.fixed_content {
  width: 480px;
  margin: 0 auto;
}
#who-we-are {
    h2.first {
      font-size:2.5em;
      -letter-kern: 0 0 0 0 -4px;
    }
    h2.second {
      font-size:1.8em;
    } 
}

#what-we-do {
  .fixed_content {
    width: 100%;
    margin: 0 auto;
    .orbit-wrapper {
      margin: 0 auto;
    }
  }
}

#how-we-do-it {
  .fixed_content {
    margin: 0 auto;
    .section {
      padding-left: 4em;
      padding-right: 1em;
      padding-bottom: 1.5em;
      position: relative;
    }
    .section0 {
    }
    .section1 {
      padding-top: 0;
      h5 {
        padding: 0;
      }
    }
    .section0 {
      .phasezero {
        position:absolute;
        top: 0;
        left: 50px;
        max-width: 71%;
      }
    }
    .section1 {
      padding-top: 0;
      .wireframe {
        position:absolute;
        top: -25px;
        left: 59px;
        max-width: 72%;
      }
      h5 {
        padding: 0;
      }
    }
    .section2 {
      .implement {
        position:absolute;
        top: -8px;
        left: 47px;
        max-width: 73%;
      }
    }
    .section3 {
      .iterate {
        position:absolute;
        top: -13px;
        left: 46px;
        max-width: 73%;
      }
    }
    .section4 {
      .ship_box {
        position:absolute;
        top: 0;
        left: 60px;
        max-width: 50%;
      }
    }
    .section5 {
      .mushroom {
        position:absolute;
        top: 0;
        left: 69px;
        max-width: 39%;
      }
    }
  }
}

.interior {
  .fixed_content {
    margin: 0 auto;
  }
}
blockquote.aside{
  font-size: 2em;
  color: #AABECA;
  margin-bottom: 1em;
  clear: right;
  display:block;
}
footer {
  .fixed_content {
    margin: 0 auto;
  }
}
.content-right.contact{
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.content-left.contact {
  width: 70%;
}
.contact_form {
  button {
    float:left;
    margin: 12px 0 0 0;
    width: 110px;
    height: 30px;
    font-size:1.1em;
  }
}

ul.foot.contact.top, ul.foot.contact {
  margin-bottom: 5px;
}
ul.foot{
  margin-top: 20px;
  display: inline-block;
  list-style-type: none;
  padding-left: 40px;
  width: auto;
  li.first {
    a {
      padding: 10px 10px 10px 0;
    }
  }
  li{
    display: inline-block;
    color:#7bbbd2;
    text-align:auto;
    width: auto;
    text-transform: none;
    a{
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      color:#7bbbd2;
      text-shadow: 0px 1px 1px #444;
      background:none;
      text-transform: none;
      
      width: auto;
      font-size:1em;
      margin: 0;
      &:hover{
        color: white;
        background:none;
      }
    }
  }
}

.blog_post{
  .blog_content{
    margin: 0 0 0 0;
    padding: 3px 0 15px;
  }
  .blog_info_top{
    .author_image{
      display:none;
    }
    .title {
      .author {
        p{
          float: right;
          width: auto;
          font-size:1em;
          
        }
      }
    }
  }
}
div.slide div.slide-content h3 {
  a {
    padding: 5px 20px 5px 20px;
  }
  margin-bottom: 10px;
}
.work_content_right.recent {
  width: 50%;
  padding-left: 15px;
}
.work_content_right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 0;
}
.work_content_left{
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
.edit_post {
  width:400px;
}