/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

body {
  width: 100%;
  .fixed_content {
    width: 600px;
    margin: 0 auto;
  }
}
body.controller-home.action-index {
  #who-we-are {
    height: 221px;
  }
}
#who-we-are {
    h2.first {
      font-size:3.2em;
    }
    h2.second {
      font-size:2.3em;
    } 
}
#what-we-do {
  .fixed_content {
    width: 600px;
    margin: 0 auto;
    .orbit-wrapper {
      margin: 0 auto;
    }
  }
  .services-slider .slide .slide-content{
    padding: 20px;
    .text {
      h3 {
        font-size: 2.2em;
      }
    }
    .img {
      img {
        max-width: 65%;
      }
    }
  }
}
blockquote.aside{
  width: 40%;
  float: right;
  margin-left: 2%;
  clear: right;
  &.alternative{
    float: left;
  }
}

#how-we-do-it {
  .fixed_content {
    margin: 0 auto;
    .section{
      padding-left: 4em;
      padding-right: 1em;
      padding-bottom: 1.5em;
      position: relative;
    }
    .section0 {
      .arrow {
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
      }
    }
    .section1 {
      padding-top: 0;
      h5 {
        padding: 0;
      }
      .shake {
        position: absolute;
        top: -20px;
        left:153px;
        z-index: 50;
      }
      .arrow {
        position: absolute;
        top: 242px;
        left: 138px;
      }
      .pour {
        position: absolute;
        top: 53px;
        left: 36px;

      }
    }
    .section2 {
      .blue_tube {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 75%;
      }
      .yellow_tube {
        position: absolute;
        top: 0;
        left: 195px;
      }
      .beaker {
        position: absolute;
        top: 92px;
        left: 117px;
      }
    }
    .section3 {
      .beakers {
        position: absolute;
        top: 52px;
        left: 143px;
        opacity: 0.3;
      }
    }
    .section4 {
      .ship_box {
        position: absolute;
        top: 75px;
        left: 175px;
        opacity: .4;
      }
    }
    .section5 {
    }
    .section1 {
      padding-top: 0;
      h5 {
        padding: 0;
      }
    }
  }
}
.interior {
  .fixed_content {
    margin: 0 auto;
  }
}
.fixed_content {
  #byline-title {
    text-align:center;
    .byline {
      display:inline-block;
      padding: 0 8px;
    }
    .byline-title-side{
      display: inline-block;
      width: 3%;
      padding-bottom: .3em;
      position: relative;
      z-index: 2;
      .line{
        &.first{
          height: 3px;
        }
      }
    }
  }
}
footer {
  .fixed_content {
    margin: 0 auto;
  }
}
.contact_form {
 .fieldset {
   display:inline-block;
   width: 48%;
   margin: 0 5px 10px 0;
  }
  .fieldset_bottom {
    width:97%;
  }
}
.work_examples{
  img {
    float: left;
    margin: 0 10px 0 0;
  }
}
.blog_post{
  .blog_content{
    margin: 0 0 0 31px;
    padding: 3px 0 15px;
  }
}
.work_services_wrap{
  width: 47%;
}