@import "elements";
/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS

*/
body {
  .fixed_content {
    width: 768px;
    margin: 0 auto;
  }
}
body.controller-home.action-index{
  #who-we-are{
    height: 283px;
  }
}
#who-we-are{
  width: 768px;
  margin: 0 auto;
  nav{
    display: block;
    position: absolute;
    right: 0;
    top: 45px;
    li{
      display: none;
      text-transform: uppercase;
      float: left;
      padding: 0 20px 0 0;
      &.active{
        a, a:hover{
          background-color: #6d95ac;
        }
      }
      &.tablet{
        display: inline;
      }
      &.last{
        padding: 0;
      }
      a{
        display: block;
        padding: 3em .25em .25em .25em;
        margin-top: -3em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        color: white;
        text-decoration: none;
        &:hover{
          -webkit-transition: background-color .5s ease;
          -moz-transition: background-color .5s ease;
          -o-transition: background-color .5s ease;
          transition: background-color .5s ease;
          background-color: #8199A7;
        }
      }
    }
    li.active.home {
      background-color: none;
      a {
        background: none;
        &:hover {
          -webkit-transition: background-color .5s ease;
          -moz-transition: background-color .5s ease;
          -o-transition: background-color .5s ease;
          transition: background-color .5s ease;
          background-color: #8199A7;

        }
      }
    }
  }

  header{
    width: 768px;
    margin: 0 auto;
    h1{
      background-position: top left;
      a {
        outline: none;
        border: none;
      }
    }
  }
  hr{
    display: none;
  }
  .byline{
    width: 80%;
    padding: 0 0;
    display: inline-block;
  }
  .byline-side{
    display: inline-block;
    width: 9.3%;
    padding-bottom: 2em;
    .line{
      width: 100%;
      background-color: #527e97;
      &.first{
        float: left;
        height: 4px;
        margin-bottom: 2px;
      }
      &.second{
        float: right;
        height: 1px;
      }
    }
  }
  h2{
    &.first{
      font-size: 4.2em;
    }
    &.second{
      font-size: 3.1em;
    }
  }
}
.work_content_right{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-left: 15px;
  ul{
    li{
      display: block;
      list-style-type: none;
      padding: .5em;
      background-color: #eee;
      margin-bottom: .5em;
    }
  }
}
.work_content_left{
  width: 72%;
  display: inline-block;
  vertical-align: top;
}
.fixed_content {
  #byline-title {
    text-align:center;
    .byline {
      display:inline-block;
      padding: 0 10px;
    }
    .byline-title-side{
      display: inline-block;
      width: 4%;
      padding-bottom: .7em;
      position: relative;
      z-index: 2;
      .line{
        width: 100%;
        background-color: #527e97;
        &.first{
          float: left;
          height: 4px;
          margin-bottom: 2px;
          position: relative;
          z-index: 2;
        }
        &.second{
          float: right;
          height: 1px;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}

#what-we-do {
  .fixed_content {
    width: 768px;
    margin: 0 auto;
    .orbit-wrapper {
      margin: 0 auto;
    }
  }
}

.slide .slide-content{
  padding: 20px;
  .text {
    float:left;
    width: 100%;
    margin: 8px 0 0 0;
    h3 {
      font-size: 3em;
    }
    p{
      font-size: 3rem;
    }
  }
  .img {
    img {
      max-width: 100%;
    }
  }
  .call-to-action {
    a {
      font-size: 1.3em;
    }
  }
}

#how-we-do-it{
  .fixed_content {
    margin: 0 auto;
    padding: 0 0 0 30px;
    .section{
      padding-left: 3em;
      padding-right: 1em;
      padding-bottom: 1.5em;
      position: relative;
      display: inline-block;
      width: 38%;
      margin-right: 3%;
      vertical-align: top;
    }
    .section1 {
      padding-top: 1.5em;
      h5 {
        padding: .5em 0 0 0;
      }
      .shake {
        position: absolute;
        top: 46px;
        left: 75px;
        z-index: 50;
      }
      .arrow {
        position: absolute;
        top: 242px;
        left: 138px;
      }
      .pour {
        position: absolute;
        top: 203px;
        left: -3px;
        z-index: 50;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }
    .section2 {
      .blue_tube {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 75%;
      }
      .yellow_tube {
        position: absolute;
        top: 0;
        left: 195px;
      }
      .beaker {
        position: absolute;
        top: 92px;
        left: 117px;
      }
    }
    .section3 {
      .beakers {
        position: absolute;
        top: 116px;
        left: 50px;
        opacity: 0.3;
      }
    }
    .section4 {
      .ship_box {
        position: absolute;
        top: 118px;
        left: 100px;
        opacity: .4;
      }
    }
    .section5 {
    }
    .section0 {
      .arrow {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
    .section{

      h3{
        font-size: 1.8em;
        z-index: 100;
      }
      h4{
        font-size: 1.2em;
        z-index: 100;
      }
      h5{
        left: 0;
        font-size: 3.4em;
        z-index: 100;
      }
      p {
        font-size: 1em;
        line-height: 1.4em;
        z-index: 100;
      }
      img {
        z-index: 50;
      }
    }
  }
}
footer {
  height: auto;
  .fixed_content {
    margin: 0 auto;
    .right_footer {
      float:right;
      margin: 16px 0 0 0;
    }
    .left_contact {
      margin-left: 0;
    }
  }
  a.blog{
    display: none;
  }
}

h2.interior{
  font-size: 3.5em;
  margin: 10px 0 0 0;
}
ul.foot{
  padding-left: 24px;
}
.blog_post{
  .blog_content{
    margin: 0 0 0 49px;
    padding: 3px 0 15px;
  }
}
.work_services_wrap{
  width: 45%;
}