@import "elements";
/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS

*/
body {
  .fixed_content {
    width: 768px;
    margin: 0 auto;
  }
}
body.controller-home.action-index{
  #who-we-are{
    height: 283px;
  }
}
#who-we-are{
  width: 768px;
  margin: 0 auto;
  nav{
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
    li{
      text-transform: uppercase;
      display: inline;
      float: left;
      padding: 0 15px 0 0;
      &.last{
        padding: 0;
      }
      a{
        padding: 4px 0;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        color: white;
        text-decoration: none;
        &:hover{
          border-top: 140px solid white;
        }
      }
    }
  }
  header{
    width: 768px;
    margin: 0 auto;
    h1{
      background-position: top left;
    }
  }
  hr{
    display: none;
  }
  .byline{
    width: 80%;
    padding: 0 0;
    display: inline-block;
  }
  .byline-side{
    display: inline-block;
    width: 9%;
    padding-bottom: 2em;
    .line{
      width: 100%;
      background-color: #4f7b94;
      &.first{
        float: left;
        height: 4px;
        margin-bottom: 2px;
      }
      &.second{
        float: right;
        height: 1px;
      }
    }
  }
  h2{
    &.first{
      font-size: 4.2em;
    }
    &.second{
      font-size: 3.1em;
    }
  }
}
#what-we-do {
  .fixed_content {
    width: 768px;
    margin: 0 auto;
    .orbit-wrapper {
      margin: 0 auto;
    }
  }
  .services-slider .slide .slide-content{
    padding: 20px;
    .text {
      float:left;
      width: 65%;
      h3 {
        font-size: 2.5em;
      }
    }
    .img {
      img {
        max-width: 100%;
      }
    }
  }
}

#how-we-do-it{
  .fixed_content {
    .section1 {
      padding-top: 1.5em;
      h5 {
        padding: .5em 0 0 0;
      }
    }
    .section0 {
      .arrow {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
    .section{
      display: inline-block;
      width: 35%;
      margin-right: 3%;
      vertical-align: top;
      h3{
        font-size: 1.8em;
      }
      h4{
        font-size: 1.2em;
      }
      h5{
        left: 0;
        font-size: 3.4em;
      }
      p {
        font-size: 1em;
        line-height: 1.4em;
      }
    }
  }
}
footer {
  .fixed_content {
    margin: 0 auto;
  }
}

h2.interior{
  font-size: 4em;
}
