/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

body {
  .fixed_content {
    width: 992px;
  }
}

#who-we-are{
  width: 992px;
  header{
    width: 992px;
  }
  h2{
    &.first{
      font-size: 5.2em;
      -letter-kern: 0 0 0 0 -12px;
    }
    &.second{
      font-size: 3.7em;
    }
  }
  nav{
    li{
      a {
        outline: none;
        border: none;
      }
      &.desktop{
        display: inline;
      }
    }
  }
}

#how-we-do-it{
  .fixed_content {
    padding: 0 0 0 50px;
    .section{
      width: 40%;
      h5{
        left: 0;
      }
      p {
        font-size: 1.2em;
        line-height: 1.4em;
      }
    }
  }
}
#what-we-do {
  .fixed_content {
    width: 992px;
    margin: 0 auto;
    .orbit-wrapper {
      margin: 0 auto;
    }
  }
}
