/ Scripts
%script{ src: "/assets/libs/jquery-1.6.2.min.js" }
%script{ src: "/assets/plugins.js" }
%script{ src: "/assets/script.js" }
%script{ src: "/assets/mylibs/helper.js" }
= javascript_include_tag 'jquery.backgroundpos.js'
= javascript_include_tag 'jquery.orbit-1.3.0.js'
= javascript_include_tag 'libs/kerning.js'

/[if (lt IE 9) & (!IEMobile)]
  %script{ src: "/assets/libs/imgsizer.js" }

:javascript
  // iOS scale bug fix
  MBP.scaleFix();

  // Respond.js
  yepnope({
    test : Modernizr.mq('(only all)'),
    nope : ['/assets/libs/respond.min.js']
  });

/ http://mths.be/aab 
:javascript
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
