/ For all browsers
%link{ rel: "stylesheet", href: "/assets/style.css" }
%link{ rel: "stylesheet", href: "/assets/buttons.css" }
%link{ rel: "stylesheet", media: "print", href: "/assets/print.css" }
/ For progressively larger displays
%link{ rel: "stylesheet", media: "only screen and (min-width: 480px)", href: "/assets/480.css" }
%link{ rel: "stylesheet", media: "only screen and (min-width: 600px)", href: "/assets/600.css" }
%link{ rel: "stylesheet", media: "only screen and (min-width: 768px)", href: "/assets/768.css" }
%link{ rel: "stylesheet", media: "only screen and (min-width: 992px)", href: "/assets/992.css" }
/ For Retina displays
%link{ rel: "stylesheet", media: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)", href: "/assets/2x.css" }

/ Orbit
= stylesheet_link_tag 'orbit-1.3.0.css'
