#who-we-are
  %header{ role: "banner" }
    %h1
      %span= link_to 'isotope|eleven', root_path
  = render partial: 'layouts/top_navigation'
  %hr
  .byline-side
    .line.first
    .line.second
  .byline
    %h2.first Software
    %h2.second Development
  .byline-side
    .line.first
    .line.second
